html {
  background: #343434;
  color: #37493e;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  scroll-behavior: smooth;
  font-size: 24px;
  text-align: center;
}

button {
  background: #495F52;
  font-size: 1em;
  color: #394430;
  padding: 1rem 1.5rem;
  border-color: transparent;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #37493e;
  transition: 0.5s;
}

a:hover {
  text-decoration: none;
  color: #495F52;
}

button:hover {
  background: #37493e;
  transition: 0.5s;
}
