// Custom.scss

// Include any default variable overrides here (though functions won't be available)
$primary: #756a83;
$secondary: #678b91;
$info: #c47e5e;

$body-bg-dark: #0f0f0f;
$body-tertiary-bg-dark: #1b1b1b;

$body-bg: #e9e8eb;
$body-tertiary-bg: #dad8db;

$position-values: (
    0: 0,
    50: 50%,
    90: 90%,
    100: 100%
);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 5
);



@import "../node_modules/bootstrap/scss/bootstrap";



// Then add additional custom code here
.socialIcons {
    color: $primary;
}
.socialIcons:hover {
    color: $primary;
}
.navLink {
    cursor: pointer;
}

.navLink.active {
    font-weight: bold;
    text-decoration: underline;
    color: $primary;
}

.footer {
    position: absolute;
    width: 100%;
    left: 0;
}

// 'back to top' button (center icon and keep it as a perfect circle)
#toTop {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}